!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        {% block title %}        
        {% endblock %} 
    </head> 
    <body> 
        <a href="/">หน้าเเรก</a> 
        <a href="/about">เกยวกบเรา</a> 
        <a href="/Infrom">แบบฟอร์ม</a> 
        <div> 
            {% block content %} 
            {% endblock %} 
        </div> 
</body> 
</html> 