{% extends "base.html" %} 
{% block title %} 
    <title>หน้าแรก</title 
{% endblock title %} 
{% block content %} 
    <h1 style="color: firebrick; text-align: center;">หน้าเเรก</h1> 
    <p>การทดสอบ</p> 
    <p>คุณ {{name | upper}}</p> 
    <p>อายุ {{age}} ปี </p> 
{% if age >= 20 %}  
    <h3>คณเปนวยผใหญ</h3> 
{% else %} 
    <h3>คุณเป็นวัยเด็ก</h3> 
{% endif %} 
<hr> 
{% endblock content %}